<a href="https://colab.research.google.com/github/myasir01/MPRepository/blob/master/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignment 3: Data Structures, Loops, Functions

#### (10 pts) A. Nested Data Structures and Lists

The students received their grades for a midterm exam. The results came as a dictionary, and the grades are in the form of lists. The list contains the score each student received, for each question in the midterm. Unfortunately, the professor was very absent minded and he forgot to sum up the points to compute the overall grade for each student.

* (1pts) How many students are in the data set?
* (1pts) How many questions were in the midterm?
* (4pts) Write code to compute the overall grade of each student. Add the overall grade in a new dictionary called `midterm_grades`, with the students as keys, and the overall grades as (integer) values.
* (1pts) Extract the values from the `midterm_grades` and create a list of the overall grades for the midterm.
* (3pts) Compute the maximum, minimum, average, and median grade among the overall student grades.

In [26]:
grades = {
    "studentA" : [5, 2, 3, 1, 2, 4, 5, 5, 1, 1],
    "studentB" : [1, 2, 5, 5, 2, 0, 1, 5, 5, 2],
    "studentC" : [2, 5, 5, 5, 5, 0, 1, 3, 1, 0],
    "studentD" : [0, 1, 0, 5, 2, 5, 1, 3, 3, 5],
    "studentE" : [5, 4, 5, 5, 1, 5, 1, 4, 4, 5],
    "studentF" : [2, 2, 1, 1, 1, 3, 1, 3, 0, 1],
    "studentG" : [5, 5, 5, 5, 5, 4, 3, 5, 3, 1],
}

students = len(grades)
print("No of Students: "+str(students))

for sIndex in grades:
  questions = len(grades[sIndex])  # since it is dictionary we get the index in for loop
  break;

print("No of questions in midterm: "+str(questions))

midterm_grades = dict()
midterm_gradesList = []
for sIndex in grades:
  #questions = len(grades[sIndex])  # since it is dictionary we get the index in for loop
  midterm_grades[sIndex] = 0
  #print(grades[sIndex])
  for scores in grades[sIndex]:
    midterm_grades[sIndex] = midterm_grades[sIndex] + int(scores)
  midterm_gradesList.append(midterm_grades[sIndex])
  #print(midterm_grades[sIndex])

print("Dictionary :" + str(midterm_grades))
print("List :" + str(midterm_gradesList))

print("Max : "+ str(max(midterm_gradesList)))
print("Min : "+ str(min(midterm_gradesList)))
print("Average : "+ str(round(sum(midterm_gradesList)/len(midterm_gradesList),2)))
midterm_gradesList.sort()
#print(midterm_gradesList)
val = len(midterm_gradesList)/2
#print(type(val))

if type(val) == float:
  print("Median : "+ str(midterm_gradesList[round(val)-1]))
else:
  print("Median : "+ str((midterm_gradesList[val]+midterm_gradesList[val+1])/2))

No of Students: 7
No of questions in midterm: 10
Dictionary :{'studentA': 29, 'studentB': 28, 'studentC': 27, 'studentD': 25, 'studentE': 39, 'studentF': 15, 'studentG': 41}
List :[29, 28, 27, 25, 39, 15, 41]
Max : 41
Min : 15
Average : 29.14
Median : 28

#### (10 pts) B. Restaurant Meal Price 

* Part 1. (1pts) Write code that computes the total price of the meal in a restaurant. You know that:
    * The price of the food is $15.
    * The NY State Tax rate is 8.875%.
    * The tipping percentage is 18% of the the overall cost of the meal (including tax).
    * Use Python variables to perform the computation.

* Part 2. (2 pts) Write a function that computes the total price of the meal in a restaurant. The function takes as input the food price, the sales tax rate, and the tip percentage. The tip is computed on the overall cost of the meal (including tax).

* Part 3. (3 pts) Write a for loop that computes the total price of a meal, for different tipping rates, starting from 15% and ending at 25% (both inclusive) at 1% increments. Use the function from Part 2 as part of the loop.

* Part 4. (4 pts) Below you will find a dictionary with the tax rates for different states, expressed in percentiles. Iterate through all states and print the value of a meal, where the pre-tax food price is $20; show the prices for tip percentages of 15%, 20%, and 25%.

In [38]:
PriceOfFood = 15
NYStateTax = 8.875 # percent
tip = 18 # in percent of total meal

overall = PriceOfFood + (PriceOfFood * (NYStateTax/100))

Total = overall + (overall * (tip/100))

print("Total price :"+ str(round(Total,2)))


def computeprice(foodprice,salestax,tipammount):
  overallPrice = foodprice + (foodprice * (salestax/100))
  TotalPrice = overallPrice + (overallPrice * (tipammount/100))
  print("Total computed price for tip "+ str(tipammount)+ " : " + str(round(TotalPrice,2)))

#computeprice(20,9,18)


for itrvar in list(range(15, 25)):
  computeprice(PriceOfFood,NYStateTax,itrvar)

Total price :19.27
Total computed price for tip 15 : 18.78
Total computed price for tip 16 : 18.94
Total computed price for tip 17 : 19.11
Total computed price for tip 18 : 19.27
Total computed price for tip 19 : 19.43
Total computed price for tip 20 : 19.6
Total computed price for tip 21 : 19.76
Total computed price for tip 22 : 19.92
Total computed price for tip 23 : 20.09
Total computed price for tip 24 : 20.25

In [51]:
tax = {
    "Alabama": 13.50, 
    "Alaska": 7,
    "Arizona": 10.73,
    "Arkansas": 11.63,
    "California": 10,
    "Colorado": 10,
    "Connecticut": 6.35,
    "Delaware": 0,
    "District of Columbia": 5.75,
    "Florida": 7.50,
    "Georgia": 8,
    "Hawaii": 4.50,
    "Idaho": 8.50,
    "Illinois": 9.75,
    "Indiana": 7,
    "Iowa": 7,
    "Kansas": 9.65,
    "Kentucky": 6,
    "Louisiana": 11,
    "Maine": 5.50,
    "Maryland": 6,
    "Massachusetts": 6.25,
    "Michigan": 6,
    "Minnesota": 7.88,
    "Mississippi": 7.25,
    "Missouri": 9.35,
    "Montana": 0,
    "Nebraska": 7.50,
    "Nevada": 8.10,
    "New Hampshire": 0,
    "New Jersey": 7,
    "New Mexico": 8.69,
    "New York": 8.88,
    "North Carolina": 7.50,
    "North Dakota": 8,
    "Ohio": 8,
    "Oklahoma": 11,
    "Oregon": 0,
    "Pennsylvania": 8,
    "Rhode Island": 7,
    "South Carolina": 9,
    "South Dakota": 6,
    "Tennessee": 9.75,
    "Texas": 8.25,
    "Utah": 8.35,
    "Vermont": 7,
    "Virginia": 6,
    "Washington": 9.60,
    "West Virginia": 7,
    "Wisconsin": 5.60,
    "Wyoming": 6,
}


for statestax in tax:
  for itrvar in [15,20,25]:
    print("State Tax :"+str(tax[statestax]) +" Tip percent :"+ str(itrvar))
    computeprice(20,tax[statestax],itrvar)

State Tax :13.5 Tip percent :15
Total computed price :26.11
State Tax :13.5 Tip percent :20
Total computed price :27.24
State Tax :13.5 Tip percent :25
Total computed price :28.38
State Tax :7 Tip percent :15
Total computed price :24.61
State Tax :7 Tip percent :20
Total computed price :25.68
State Tax :7 Tip percent :25
Total computed price :26.75
State Tax :10.73 Tip percent :15
Total computed price :25.47
State Tax :10.73 Tip percent :20
Total computed price :26.58
State Tax :10.73 Tip percent :25
Total computed price :27.68
State Tax :11.63 Tip percent :15
Total computed price :25.67
State Tax :11.63 Tip percent :20
Total computed price :26.79
State Tax :11.63 Tip percent :25
Total computed price :27.91
State Tax :10 Tip percent :15
Total computed price :25.3
State Tax :10 Tip percent :20
Total computed price :26.4
State Tax :10 Tip percent :25
Total computed price :27.5
State Tax :10 Tip percent :15
Total computed price :25.3
State Tax :10 Tip percent :20
Total computed price :26.4
State Tax :10 Tip percent :25
Total computed price :27.5
State Tax :6.35 Tip percent :15
Total computed price :24.46
State Tax :6.35 Tip percent :20
Total computed price :25.52
State Tax :6.35 Tip percent :25
Total computed price :26.59
State Tax :0 Tip percent :15
Total computed price :23.0
State Tax :0 Tip percent :20
Total computed price :24.0
State Tax :0 Tip percent :25
Total computed price :25.0
State Tax :5.75 Tip percent :15
Total computed price :24.32
State Tax :5.75 Tip percent :20
Total computed price :25.38
State Tax :5.75 Tip percent :25
Total computed price :26.44
State Tax :7.5 Tip percent :15
Total computed price :24.73
State Tax :7.5 Tip percent :20
Total computed price :25.8
State Tax :7.5 Tip percent :25
Total computed price :26.88
State Tax :8 Tip percent :15
Total computed price :24.84
State Tax :8 Tip percent :20
Total computed price :25.92
State Tax :8 Tip percent :25
Total computed price :27.0
State Tax :4.5 Tip percent :15
Total computed price :24.03
State Tax :4.5 Tip percent :20
Total computed price :25.08
State Tax :4.5 Tip percent :25
Total computed price :26.12
State Tax :8.5 Tip percent :15
Total computed price :24.95
State Tax :8.5 Tip percent :20
Total computed price :26.04
State Tax :8.5 Tip percent :25
Total computed price :27.12
State Tax :9.75 Tip percent :15
Total computed price :25.24
State Tax :9.75 Tip percent :20
Total computed price :26.34
State Tax :9.75 Tip percent :25
Total computed price :27.44
State Tax :7 Tip percent :15
Total computed price :24.61
State Tax :7 Tip percent :20
Total computed price :25.68
State Tax :7 Tip percent :25
Total computed price :26.75
State Tax :7 Tip percent :15
Total computed price :24.61
State Tax :7 Tip percent :20
Total computed price :25.68
State Tax :7 Tip percent :25
Total computed price :26.75
State Tax :9.65 Tip percent :15
Total computed price :25.22
State Tax :9.65 Tip percent :20
Total computed price :26.32
State Tax :9.65 Tip percent :25
Total computed price :27.41
State Tax :6 Tip percent :15
Total computed price :24.38
State Tax :6 Tip percent :20
Total computed price :25.44
State Tax :6 Tip percent :25
Total computed price :26.5
State Tax :11 Tip percent :15
Total computed price :25.53
State Tax :11 Tip percent :20
Total computed price :26.64
State Tax :11 Tip percent :25
Total computed price :27.75
State Tax :5.5 Tip percent :15
Total computed price :24.27
State Tax :5.5 Tip percent :20
Total computed price :25.32
State Tax :5.5 Tip percent :25
Total computed price :26.38
State Tax :6 Tip percent :15
Total computed price :24.38
State Tax :6 Tip percent :20
Total computed price :25.44
State Tax :6 Tip percent :25
Total computed price :26.5
State Tax :6.25 Tip percent :15
Total computed price :24.44
State Tax :6.25 Tip percent :20
Total computed price :25.5
State Tax :6.25 Tip percent :25
Total computed price :26.56
State Tax :6 Tip percent :15
Total computed price :24.38
State Tax :6 Tip percent :20
Total computed price :25.44
State Tax :6 Tip percent :25
Total computed price :26.5
State Tax :7.88 Tip percent :15
Total computed price :24.81
State Tax :7.88 Tip percent :20
Total computed price :25.89
State Tax :7.88 Tip percent :25
Total computed price :26.97
State Tax :7.25 Tip percent :15
Total computed price :24.67
State Tax :7.25 Tip percent :20
Total computed price :25.74
State Tax :7.25 Tip percent :25
Total computed price :26.81
State Tax :9.35 Tip percent :15
Total computed price :25.15
State Tax :9.35 Tip percent :20
Total computed price :26.24
State Tax :9.35 Tip percent :25
Total computed price :27.34
State Tax :0 Tip percent :15
Total computed price :23.0
State Tax :0 Tip percent :20
Total computed price :24.0
State Tax :0 Tip percent :25
Total computed price :25.0
State Tax :7.5 Tip percent :15
Total computed price :24.73
State Tax :7.5 Tip percent :20
Total computed price :25.8
State Tax :7.5 Tip percent :25
Total computed price :26.88
State Tax :8.1 Tip percent :15
Total computed price :24.86
State Tax :8.1 Tip percent :20
Total computed price :25.94
State Tax :8.1 Tip percent :25
Total computed price :27.03
State Tax :0 Tip percent :15
Total computed price :23.0
State Tax :0 Tip percent :20
Total computed price :24.0
State Tax :0 Tip percent :25
Total computed price :25.0
State Tax :7 Tip percent :15
Total computed price :24.61
State Tax :7 Tip percent :20
Total computed price :25.68
State Tax :7 Tip percent :25
Total computed price :26.75
State Tax :8.69 Tip percent :15
Total computed price :25.0
State Tax :8.69 Tip percent :20
Total computed price :26.09
State Tax :8.69 Tip percent :25
Total computed price :27.17
State Tax :8.88 Tip percent :15
Total computed price :25.04
State Tax :8.88 Tip percent :20
Total computed price :26.13
State Tax :8.88 Tip percent :25
Total computed price :27.22
State Tax :7.5 Tip percent :15
Total computed price :24.73
State Tax :7.5 Tip percent :20
Total computed price :25.8
State Tax :7.5 Tip percent :25
Total computed price :26.88
State Tax :8 Tip percent :15
Total computed price :24.84
State Tax :8 Tip percent :20
Total computed price :25.92
State Tax :8 Tip percent :25
Total computed price :27.0
State Tax :8 Tip percent :15
Total computed price :24.84
State Tax :8 Tip percent :20
Total computed price :25.92
State Tax :8 Tip percent :25
Total computed price :27.0
State Tax :11 Tip percent :15
Total computed price :25.53
State Tax :11 Tip percent :20
Total computed price :26.64
State Tax :11 Tip percent :25
Total computed price :27.75
State Tax :0 Tip percent :15
Total computed price :23.0
State Tax :0 Tip percent :20
Total computed price :24.0
State Tax :0 Tip percent :25
Total computed price :25.0
State Tax :8 Tip percent :15
Total computed price :24.84
State Tax :8 Tip percent :20
Total computed price :25.92
State Tax :8 Tip percent :25
Total computed price :27.0
State Tax :7 Tip percent :15
Total computed price :24.61
State Tax :7 Tip percent :20
Total computed price :25.68
State Tax :7 Tip percent :25
Total computed price :26.75
State Tax :9 Tip percent :15
Total computed price :25.07
State Tax :9 Tip percent :20
Total computed price :26.16
State Tax :9 Tip percent :25
Total computed price :27.25
State Tax :6 Tip percent :15
Total computed price :24.38
State Tax :6 Tip percent :20
Total computed price :25.44
State Tax :6 Tip percent :25
Total computed price :26.5
State Tax :9.75 Tip percent :15
Total computed price :25.24
State Tax :9.75 Tip percent :20
Total computed price :26.34
State Tax :9.75 Tip percent :25
Total computed price :27.44
State Tax :8.25 Tip percent :15
Total computed price :24.9
State Tax :8.25 Tip percent :20
Total computed price :25.98
State Tax :8.25 Tip percent :25
Total computed price :27.06
State Tax :8.35 Tip percent :15
Total computed price :24.92
State Tax :8.35 Tip percent :20
Total computed price :26.0
State Tax :8.35 Tip percent :25
Total computed price :27.09
State Tax :7 Tip percent :15
Total computed price :24.61
State Tax :7 Tip percent :20
Total computed price :25.68
State Tax :7 Tip percent :25
Total computed price :26.75
State Tax :6 Tip percent :15
Total computed price :24.38
State Tax :6 Tip percent :20
Total computed price :25.44
State Tax :6 Tip percent :25
Total computed price :26.5
State Tax :9.6 Tip percent :15
Total computed price :25.21
State Tax :9.6 Tip percent :20
Total computed price :26.3
State Tax :9.6 Tip percent :25
Total computed price :27.4
State Tax :7 Tip percent :15
Total computed price :24.61
State Tax :7 Tip percent :20
Total computed price :25.68
State Tax :7 Tip percent :25
Total computed price :26.75
State Tax :5.6 Tip percent :15
Total computed price :24.29
State Tax :5.6 Tip percent :20
Total computed price :25.34
State Tax :5.6 Tip percent :25
Total computed price :26.4
State Tax :6 Tip percent :15
Total computed price :24.38
State Tax :6 Tip percent :20
Total computed price :25.44
State Tax :6 Tip percent :25
Total computed price :26.5

#### (5 pts) C. Search within a file 

The `curl` command below will download the file `restaurant-names.txt` from Github. 

For this assignment, your task is to read the file `restaurant-names.txt` (after downloading it) and answer the following questions:
* How many restaurants appear in the dataset?
* Print the restaurants that contain the word GREEK in their name.
* How many restaurants contain the word PIZZA in their name?

In [2]:
!curl https://raw.githubusercontent.com/ipeirotis/introduction-to-python/master/data/restaurant-names.txt -o restaurant-names.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  364k  100  364k    0     0  1359k      0 --:--:-- --:--:-- --:--:-- 1359k

In [4]:
fhand = open('restaurant-names.txt')
count = 0
count2 = 0
for line2 in fhand:
  count = count + 1
  if (line2.find("GREEK") != -1):
     print("Restuarent contains GREEK: ", line2)
  if (line2.find("PIZZA")!= -1):
    count2 = count2 + 1

print('Restuarent Count: ', count)
print("Restuarent Contains word PIZZA: ", count2)

Restuarent contains GREEK:  ANTHI'S GREEK FOOD

Restuarent contains GREEK:  AVLEE  GREEK KITCHEN

Restuarent contains GREEK:  AVLEE GREEK KITCHEN

Restuarent contains GREEK:  AVLI THE LITTLE GREEK TAVERN

Restuarent contains GREEK:  ETHOS GREEK CUISINE

Restuarent contains GREEK:  GREEK EXPRESS

Restuarent contains GREEK:  GREEK FAMILY KITCHEN

Restuarent contains GREEK:  GREEK GARDENS GRILL

Restuarent contains GREEK:  GREEK GRILL

Restuarent contains GREEK:  GREEK ISLANDS

Restuarent contains GREEK:  GRK FRESH GREEK

Restuarent contains GREEK:  GYRO GREEK STYLE

Restuarent contains GREEK:  MEDITERRANEAN GRILL GREEK TARVERNA

Restuarent contains GREEK:  OKEANOS GREEK SEAFOOD

Restuarent contains GREEK:  OPA! GREEK RESTAURANT

Restuarent contains GREEK:  RAFINA GREEK CUISINE

Restuarent contains GREEK:  SOMETHING GREEK

Restuarent contains GREEK:  SYMPOSIUM GREEK RESTAURANT

Restuarent contains GREEK:  THE GREEK

Restuarent contains GREEK:  THE GREEK CORNER

Restuarent contains GREEK:  THE GREEK KITCHEN  CLINTON BAKERY CAFE

Restuarent contains GREEK:  VILLAGE TAVERNA GREEK GRILL

Restuarent contains GREEK:  ZENON TAVERNA GREEK RESTAURANT

Restuarent Count:  20443
Restuarent Contains word PIZZA:  963

#### (5pts) D. Function that returns a dictionary 

Write a function that has a parameter that is the height of someone in centimeters. You need to convert it into feet and inches. (Each foot is 30.48 cm. Each inch is 2.54cm.). The function should return the height in feet and inches. The result should be a dictionary with two keys, `feet` and `inches`, and the values for both keys should be integers.

In [13]:
def ConverttoFeetInches(height):
  mfoot = 30.48 #in cm
  minch = 2.54  #in cm
  mfeet=height/mfoot
  minches=(height%30.48)/minch
  #print(str(int(mfeet)) +" ft " + str(format(minches, '.1f'))+ " in")
  return dict(feet = int(mfeet), 
              inches = format(minches, '.1f'))

ConverttoFeetInches(175)

{'feet': 5, 'inches': '8.9'}

#### (5 pts) E. Road Pricing System 

The Transport Authority is implementing a new Road Pricing system. The authorities decided that the cars will be charged based on distance traveled, on a per mile basis. A car will be charged \$0.50/mi, a van \$2.1/mi and taxis travel for free. Create a function to determine how much a particular vehicle would be charged based on a particular distance. The function should take as input the type of the car and the distance traveled, and return the charged price.

In [39]:
def RoadCharges(TypeofCar,distance):
  if(TypeofCar == 'Car'):
    charges = 0.50 * distance  # distance in miles
  elif (TypeofCar == 'van'):
    charges = 2.1 * distance  # distance in miles
  elif (TypeofCar == 'taxis'):
    charges = 0;
  else:  
    charges = 0;

  return charges

RoadCharges('Car',1)

0.5

#### (15 pts) F. Most Common Item


Part 1. (5pts) Write a function that takes as input a list and returns the most common item in the list. 

Note: This is a challenging exercise. Below, I give some hints. As there are multiple possible solutions, not all hints are applicable to all solutions. Do not freak out if you came up with a solution that is not using some of the hints.

* _Hint 1: Make use of set to identify all the unique values in the list_
* _Hint 2: Use the `list.count(...)` function to find the frequency of each item_
* _Hint 3: The `max()` function can return the maximum value in a list_
* _Hint 4: You will need to use a for loop, or a list comprehension_

Here are some pieces of code that can help you towards your solution. Try to understand what each piece of code is doing, and figure out how to piece everything together.

In [2]:
list_of_names = ["Kanisha", "Candance", "Lila", "Lupe", "Alexander", "Candance", 
           "Irvin", "Kanisha", "Lila", "May", "Lila", "Alexander", "Ivana", "Alexander"]
list_of_names.count("Candance")

2

In [3]:
numbers = [5,42,34,6,7,4,2,5]
maximum = 0
for number in numbers:
    if number > maximum:
        maximum = number
print("The maximum is", maximum)

The maximum is 42

In [4]:
counter = dict()
for name in list_of_names:
    if name in counter:
        counter[name] = counter[name]+1
    else:
        counter[name] = 1
counter

{'Alexander': 3,
 'Candance': 2,
 'Irvin': 1,
 'Ivana': 1,
 'Kanisha': 2,
 'Lila': 3,
 'Lupe': 1,
 'May': 1}

In [5]:

def CommonItems(anyList):
  repeated = dict()
  #anyList.rs('\n')
 # for names in anyList:
 #   repeated[names] = anyList.count(names)

  #repeated = dict()
  for name in anyList:
      if name in repeated:
          repeated[name] = repeated[name]+1
      else:
          repeated[name] = 1
  
#  print(repeated)
  maximum = 0
  for name in repeated:
      if repeated[name] > maximum:
          maximum = repeated[name]
#  print("The maximum is", maximum)
  #maximum = 0
  commonelement = dict()
  for name in repeated:
      if repeated[name] == maximum:
          commonelement[name] =  repeated[name]     
#  print(commonelement)
  return commonelement

CommonItems(list_of_names)

{'Alexander': 3, 'Lila': 3}

In [1]:
# Download the files restaurants.txt and restaurant-names.txt from Github
!curl https://raw.githubusercontent.com/ipeirotis/introduction-to-python/master/data/restaurant-names.txt -o restaurant-names.txt
!curl https://raw.githubusercontent.com/ipeirotis/introduction-to-python/master/data/restaurants.txt -o restaurants.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  364k  100  364k    0     0  1379k      0 --:--:-- --:--:-- --:--:-- 1379k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 7222k  100 7222k    0     0  10.3M      0 --:--:-- --:--:-- --:--:-- 10.3M

Part 2.  (5pts) Use the function that you created here to find the most frequent restaurant names in the `restaurants.txt` dataset.

In [70]:
fhand = open("restaurants.txt")

linelist = fhand.readlines()

#filelist = [line.rstrip('\n') for line in open("restaurants.txt")]

CommonItems(filelist)

{"DUNKIN' DONUTS": 4473}

Part 3.  (5pts) Find the most frequent **words** that appear in the restaurant names. Create two answers: one for the dataset `restaurant-names.txt` which contains only distinct restaurant names, and for the dataset `restaurants.txt` which contains the names of all the restaurants in NYC, without eliminating duplicate names.

In [40]:
import re

def FreqWords(linelist):
  index = 0
  rest_name_words_dict = dict() 
  #rest_name = list(range(0,len(linelist)))
  maximum = 0
  for firstlist in linelist:
    rest_name = firstlist.split(' ')
    for irest_name in rest_name:
        irest_name= re.sub('[^A-Za-z0-9]+', '', irest_name)
        if irest_name in rest_name_words_dict:         
            rest_name_words_dict[irest_name] = rest_name_words_dict[irest_name]+1
        else:
            rest_name_words_dict[irest_name] = 1
        if rest_name_words_dict[irest_name] > maximum:
            maximum = rest_name_words_dict[irest_name]
            maxword = irest_name
    index = index + 1

  #  print(repeated)
  #  maximum = 0
  #  for words in rest_name_words_dict:
  #      if rest_name_words_dict[words] > maximum:
  #          maximum = rest_name_words_dict[words]
  #          maxword = words

  print(maximum,maxword)
  #print(rest_name_words_dict)


fhandres = open("restaurant-names.txt")
filelist = fhandres.readlines()
FreqWords(filelist)

3130 RESTAURANT

In [41]:
fhandres2 = open("restaurants.txt")
filelist2 = fhandres2.readlines()

#finallist = list()
#for item in filelist2:
#  if (item.find('NYC') != -1):
#    finallist.append(item)

FreqWords(filelist2)

65874 RESTAURANT